[submodule "frontend"]
	path = frontend
	url = https://github.com/fornocry/farm_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/fornocry/farm_backend.git
[submodule "bot"]
	path = bot
	url = https://github.com/fornocry/farm_bot.git
